.cellpadding td {
  padding-left:8px;
  padding-right:8px;
}

/*
.cellpadding img {
  width: auto;
  height: auto;
}
*/

/* maybe this should be h1.title ? */

h1 {
  color: black;
  font-weight: bold;
}


h2 {
  color: #f56477;
  font-weight: bold;
}

h3, h4 {
  color: #ab4653;       /* Hippie pink */
  font-weight: bold;
}

/* https://stackoverflow.com/questions/31527841/i-would-like-to-make-my-image-pop-out-larger-when-i-click-on-it */
/*
#expand {
    width: 100%;
}
*/
#expand:hover {
    transform: scale(1.5);
}

/* https://success.appen.com/hc/en-us/articles/202703155-CSS-Guide-to-Enlarge-Images-on-Hover */
.thumbnail { 
top:-50px; 
left:-35px; 
display:block; 
z-index:999; 
cursor: pointer; 
-webkit-transition-property: all; 
-webkit-transition-duration: 0.3s; 
-webkit-transition-timing-function: ease; 
} 

/*change the number below to scale to the appropriate size*/ 
.thumbnail:hover { 
transform: scale(2); 
}