.cellpadding td {
  padding-left:8px;
  padding-right:8px;
}

/*
.cellpadding img {
  width: auto;
  height: auto;
}
*/

/* maybe this should be h1.title ? */

h1 {
  color: black;
  font-weight: bold;
}


h2 {
  color: #f56477;
  font-weight: bold;
}

h3, h4 {
  color: #ab4653;       /* Hippie pink */
  font-weight: bold;
}

/* https://stackoverflow.com/questions/31527841/i-would-like-to-make-my-image-pop-out-larger-when-i-click-on-it */
/*
#expand {
    width: 100%;
}
*/
#expand:hover {
    transform: scale(1.5);
}